<h1> Name: <%= @cafe.name %></h1>
<h2> City: <%= @cafe.city %></h2>
<h3> Rating: <%= @cafe.rating %></h3>
<h4> Rewards Program: <%= @cafe.rewards_program %></h4>
<h5> Number of Drinks: <%= @cafe.drink_count %></h5> 